/*Esto afecta a todo el body*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;

    
}


/*Menu*/
li {

  list-style: none;
}

li a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 10px;
  transition: all 0.3s ease;
  background-color: #fff;
  border-bottom: 4px solid #fff;
}

li a:hover {
  background-color: #0077c0;
  color: #fff;
  border-bottom: 4px solid #33b5ff;
}

li a:hover::after {
  width: 100%;
}

li a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #33b5ff;
  transition: all 0.3s ease;
}


.header-area {
    display: flex;
    padding: 25px 0 0;
    position: relative;
    margin-bottom: 100px;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}
.header-area .logo {
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    font-size: 19px;
    width: 300px;
    color: #5d5d5d;
    text-align: right;
}
.header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}
.header-area .links li {
    display: inline-block;
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
}

/*Curriculum*/
#espacioTemporal{
  margin-top: 100px;
}

.foto{
  height: 270px;
  width: 200px;
  border-radius: 20px;
  margin: 5%;
  
}

.titulo{
  font-family: 'Tilt Warp', cursive;
  margin-left: 3%;
}
.separacion{
  height: 5px;
  width: 200px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.lista{
  margin-left: 3%;
  margin-top: 1%;
  font-family: 'Rampart One', cursive;
}
.disminuir{
  font-size: 14px;
}
.icon{
  height: 10px;
  width: 10px;
}

#titulo{
    font-family: 'Tilt Warp', cursive;
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
#texto{
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}
.todo {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.estructura {
  flex-basis: 18%;
  background-color: pink;
  border-radius: 20px;
  margin-left: 25%;
}

.estructura2 {
  flex-basis: 40%;
  margin-right: 25%;
  border: 1px solid black;
  border-radius: 20px;
}

#titulo2 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}
#fondo {
  background-image: url('cartas.gif');
  background-repeat: no-repeat;
  background-size: cover;
}